*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;700;800;900&display=swap');